<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
      </p>
      <p>
        <form action="/campgrounds" method="GET" class="form-inline">
          <div class="form-group">
            <input class="form-control" type="search" name="search" placeholder="Campgrounds search.....">
            <input class="btn btn-default" type="submit" value="Search">
          </div>
        </form>
      </p>
    </div>
  </header>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-12">
      <% if (noMatch !== null) { %>
      <h3><%= noMatch %></h3>
      <% } %>
    </div>
    <% campgrounds.forEach(campground => { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img class="campground-img" src="<%= campground.image %>" alt="<%= campground.name %>" title="<%= campground.name %>">
        <div class="caption">
          <h4><%= campground.name %></h4>
        </div>
        <p>
          <a href="/campgrounds/<%= campground.slug %>" class="btn btn-primary">More Info</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
  <nav aria-label="...">
    <ul class="pager">
      <% if (page > 1) { %>
      <li class="previous">
        <a href="/campgrounds/page/<%= parseFloat(page - 1) %> "><span aria-hidden="true">&larr;</span> Prev</a>
      </li>
      <% } %>

      <li>
        <a>Page <%= page %> of <%= pages %> &mdash; <%= count %> total results</a>
      </li>

      <% if (page < pages) { %>
      <li class="next">
        <a href="/campgrounds/page/<%= parseFloat(page + 1) %>">Next <span aria-hidden="true">&rarr;</span></a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>

<% include ../partials/footer %>
