<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>" title="<%= campground.name %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted By 
                            <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a> on 
                            <span>
                                <time datetime="<%= campground.date %>"><%= campground.date.toLocaleDateString() %></time>
                            </span>
                        </em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add New Comment</a>
                </div>
                <hr>
                <% if (campground.comments.length == 0) { %>
                    <em>No comment yet. Say something about this campground</em>
                <% } else { %>
                    <% campground.comments.forEach(comment => { %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right">
                                    <time datetime="<%= comment.date %>"><%= h.moment(comment.date).fromNow() %></time>
                                </span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                    <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
                                    <form id="delete-comment-form" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                        <input class="btn btn-xs btn-danger" type="submit" value="Delete">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    function initMap() {
        let lat = <%= campground.lat %>;
        let lng = <%= campground.lng %>;
        let center = { lat: lat, lng: lng};
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });

        let contentString = `
            <strong><%= campground.name %> <br />
            <%= campground.location %> </strong>
            <p><%= campground.description %></p>
            `

        let infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        let marker = new google.maps.Marker({
            position: center,
            map: map
        });

        marker.addEventListener('click', () => {
            infowindow.open(map, marker);
        })
    }
</script> -->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9pCXQpODvKiOpDiJLWlYIfFCoStaPXJI&callback=initMap"></script>

<% include ../partials/footer %>